<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Logo de l'agence" class="logo" />
    </div>
      <h1 class="title">{{ title }}</h1>
      <nav class="menu">
        <ul>
          <li><a routerLink="/posts">Mes Biens</a></li>
         <li><a routerLink="/todos">Tâches</a></li>
        </ul>
      </nav>
      <!-- Barre de recherche -->
      <div class="search-bar-container">
        <app-search-bar (searchTermChanged)="handleSearch($event)"></app-search-bar>
      </div>
    </div>
  </header>
  <main class="content">
    <!-- Contenu principal -->
    <div class="logements-container">
      <div class="logement-item" *ngFor="let item of filteredItems">
        <img [src]="item.image" alt="{{ item.type }}" class="logement-image" />


        <div class="logement-details">
          <div class="logement-type">{{ item.type }}</div>
          <div class="logement-location">{{ item.location }}</div>
          <div class="logement-price">{{ item.price | number:'1.0-2' }}</div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
  