/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styles pour le header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f8ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px 5px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .title {
    font-size: 1.5rem; /* Taille réduite */
    color: #0044cc;
    margin: 0;
  }

  .menu {
    margin: 0;

    ul {
      display: flex;
      gap: 15px;

      li {
        font-size: 1rem; /* Taille réduite */
        font-weight: bold;

        a {
          color: #007acc;
          transition: color 0.2s ease;

          &:hover {
            color: #005f99;
          }
        }
      }
    }
  }

  .search-bar-container {
    flex-grow: 1;
    max-width: 300px;
    margin-left: 20px;
  }
}

/* Styles pour le contenu principal */
.content {
  margin-top: 100px; /* Espace pour compenser le header */
  padding: 20px;
}

/* Styles pour les logements */
.logements-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.logement-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.logement-item:hover {
  transform: translateY(-4px);
}

.logement-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}


  .logement-type {
    font-size: 1.2rem; /* Taille réduite */
    font-weight: bold;
    color: #333;
    margin-bottom: 8px; /* Espacement réduit */
  }

  .logement-location {
    font-size: 1rem; /* Taille réduite */
    color: #555;
    margin-bottom: 8px;
  }

  .logement-price {
    font-size: 1.1rem; /* Taille réduite */
    font-weight: bold;
    color: #007acc;
  }

/* Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;

    .menu {
      margin-top: 10px;

      ul {
        flex-direction: column;
        align-items: center;

        li {
          margin: 5px 0;
        }
      }
    }

    .search-bar-container {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
    }
  }

  .logements-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajustement pour écrans plus petits */
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px; /* Ajustez la hauteur */
  width: auto; /* Maintient les proportions */
  margin-right: 15px; /* Espace entre le logo et le texte */
  border-radius: 10px; /* Coins arrondis si souhaité */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
}