<h1><a [routerLink]="['/']">{{ title }}</a></h1>
<nav>
  <ul>
    <li><a [routerLink]="['/posts']">Liste posts</a></li>
    <li><a [routerLink]="['/todos']">Liste todos</a></li>
  </ul>
</nav>

<!-- Barre de recherche -->
<app-search-bar (searchTermChanged)="handleSearch($event)"></app-search-bar>

<div>
  <!-- Affichage des résultats filtrés -->
  <ul>
    <li *ngFor="let item of filteredItems">
      <strong>{{ item.type }}</strong> - {{ item.location }} - 
      <em>{{ item.price | currency:'EUR' }}</em>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
